body {
  background-color: black;
  height: 100vh;
}

.fenceImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13vh;
}

.home-logo {
  text-align: center;
  color: whitesmoke;
  font-family: "Major Mono Display", monospace;
  margin-top: 10px;
}
